{% extends "account/base_account.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}
<title>Login</title>
{% endblock %}

{% block content %}

<div class="auth-content my-auto">

    <div class="text-center">
        <h5 class="mb-0">Welcome Back !</h5>
        <p class="text-muted mt-2">
            Sign in to continue.
        </p>
    </div>

    <form class="mt-4 pt-2" method="POST" action="{% url 'login' %}">
        {% csrf_token %}

        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} mb-4" role="alert">
            <strong>{{ message }}</strong>
        </div>
        {% endfor %}

        <!-- MOBILE NUMBER -->
        <div class="mb-3">
            <label class="form-label">
                Mobile Number
            </label>

            <div class="input-group">

                <span class="input-group-text">
                    <i class="mdi mdi-phone-outline"></i>
                </span>

                <input
                    type="text"
                    class="form-control"
                    name="mobile_number"
                    placeholder="Enter mobile number"
                    required
                >

            </div>
        </div>

        <!-- PASSWORD -->
        <div class="mb-3">
            <label class="form-label">
                Password
            </label>

            <div class="input-group">

                <span class="input-group-text">
                    <i class="mdi mdi-lock-outline"></i>
                </span>

                <input
                    type="password"
                    class="form-control"
                    name="password"
                    placeholder="Enter password"
                    required
                >

            </div>
        </div>

        <!-- FORGOT PASSWORD -->
        <div class="flex-shrink-0 mt-2 text-end">
            <a href="#" class="text-muted">
                <i class="mdi mdi-lock me-1"></i>
                Forgot password?
            </a>
        </div>

        <!-- LOGIN BUTTON -->
        <div class="mb-3 mt-4 text-center">
            <button
                class="btn btn-primary w-100 waves-effect waves-light"
                type="submit"
            >
                Log In
            </button>
        </div>

    </form>

</div>

{% endblock %}