{% load static %}
{% block sidebar %}
            <!-- ========== Left Sidebar Start ========== -->
            <div class="vertical-menu">

                <div data-simplebar class="h-100">

                    <!--- Sidemenu -->
                    

                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled" id="side-menu">
                        
                            <li class="menu-title" data-key="t-menu">Menu</li>

                            <li>
                                <a href="{% url 'dashboard' %}">
                                    <i data-feather="home"></i>
                                    <span data-key="t-dashboard">Dashboard</span>
                                </a>
                            </li>

                            {% comment %} {{request.user.role.permissions}} {% endcomment %}

                            <li>
                                <a href="javascript: void(0);" class="has-arrow">
                                    <i data-feather="grid"></i>
                                    <span data-key="t-apps">Resturant Management</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    {% if 'orders' in request.user.role.permissions %}
                                        <li>
                                            <a href="{% url 'role_list' %}">
                                                <span data-key="t-calendar">Orders</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if 'dine_in_booking' in request.user.role.permissions %}
                                        <li>
                                            <a href="{% url 'role_list' %}">
                                                <span data-key="t-calendar">Dine In Bookings</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if 'payments' in request.user.role.permissions %}
                                        <li>
                                            <a href="{% url 'role_list' %}">
                                                <span data-key="t-calendar">Payments</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if 'feedbacks_view' in request.user.role.permissions %}
                                        <li>
                                            <a href="{% url 'role_list' %}">
                                                <span data-key="t-calendar">Feedbacks</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if 'food_item_view' in request.user.role.permissions %}
                                        <li>
                                            <a href="{% url 'food_items_list' %}">
                                                <span data-key="t-calendar">Food Items</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if 'food_category_view' in request.user.role.permissions %}
                                        <li>
                                            <a href="{% url 'food_category_list' %}">
                                                <span data-key="t-calendar">Food Categories</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if 'feedbacks_view' in request.user.role.permissions %}
                                        <li>
                                            <a href="{% url 'role_list' %}">
                                                <span data-key="t-calendar">Feedbacks</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if 'rewards_view' in request.user.role.permissions %}
                                        <li>
                                            <a href="{% url 'role_list' %}">
                                                <span data-key="t-calendar">Rewards</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if 'referrals_view' in request.user.role.permissions %}
                                        <li>
                                            <a href="{% url 'role_list' %}">
                                                <span data-key="t-calendar">Referrals</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                            {% if request.user.is_superuser %}
                                <li>
                                    <a href="javascript: void(0);" class="has-arrow">
                                        <i data-feather="grid"></i>
                                        <span data-key="t-apps">User Managments</span>
                                    </a>
                                    <ul class="sub-menu" aria-expanded="false">
                                        <li>
                                            <a href="{% url 'user_list' %}">
                                                <span data-key="t-calendar">Users</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'role_list' %}">
                                                <span data-key="t-calendar">Roles</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'organization_list' %}">
                                                <span data-key="t-calendar">Organizations</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'role_list' %}">
                                                <span data-key="t-calendar">Notifications</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}


                        </ul>

                    </div>
                    <!-- Sidebar -->
                </div>
            </div>
            <!-- Left Sidebar End -->
{% endblock  %}